@import url(face.css);
@import url(bootstrap.css);
@import url(bootstrap-rtl.min.css);
@import url(owl.carousel.css);
@import url(owl.transitions.css);
@import url(owl.theme.css);
@import url(font-awesome.min.css);
@import url(icofont.min.css);
@import url(jquery.mCustomScrollbar.css);
@import url(select2.css);
@import url(persianDatepicker-default.css);
@import url(Chart.css);
@import url(timepicki.css);
*{
    outline:none !important;
}
button , input , .tooltip{
    font-family: 'iranyekan' , 'roboto';
    font-size: 15px;
    font-weight: 300;
}
.table{
    margin-bottom:5px;
    margin-top:20px;
}
.no-padd{
    padding-right: 0;
    padding-left: 0;
}
button , input{
    font-family: 'iranyekan' , 'roboto' !important;
}
.gt-exam-today-box{
    padding:5px;
}
.exam-today-box{
    padding: 10px 20px;
    padding-bottom: 20px;
    background: #f5f5f5;
    border: 1px solid #Ddd;
    border-radius: 4px;
	height:180px;
}
.expire-do-exam-today{
    background:#Ddd !important;
    color:#a2a2a2 !important;
}
.gt-exam-today-box h6{
    margin:0;
    font-size:10.5pt;
    font-weight:600;
    line-height:2.5;
}
.expire-exam-today{
    position: absolute;
    top: 0;
    background: #ddd;
    left: 0;
    color: #a2a2a2;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px;
    font-size: 8pt;
}
.do-exam-today {
    position:relative;
    font-size:12pt;
    width:100%;
    background:red;
}
.gt-exam-today-box h6 span{
    font-weight:400;
}
.gt-exam-today-box a{
    background: #3f4fe9;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    line-height: 2.5;
    font-size: 11pt;
    letter-spacing: -0.5px;
    margin-top: 7px;
    font-weight: 500;
    transition: 0.2s;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    width: auto;
}
}
.gt-exam-today-box a:hover{
    transform:translateY(2px);
    transition:0.2s;
}
.coms-do-exam-today{
    background: #ff9800 !important;
}
.coms-exam-today{
    position: absolute;
    top: 0;
    background: #ff9800;
    left: 0;
    color:#Fff;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 5px;
    font-size: 8pt;
}
a{
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;
}
.gtbox-title{
    padding-top:65px !important;
}
a:focus{
    text-decoration: none !important;
}
body{
    background: #e2e7ef;
    font-family: 'iranyekan' , 'roboto';
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.Menu ul {
    padding: 0;
    margin-bottom: 0;
}
.Menu ul li{
    list-style: none;
    line-height: 3.5;
    padding: 0;
}
.Menu ul li a{
    font-size: 10pt;
    color:#fff;
    cursor: pointer;
    letter-spacing: -0.5px;
    font-weight: 400;
    padding: 0 10px;
    display: block;
}
.Menu ul li a:hover{
    background:#da4400;
}
.menu-has-sub > a::after{
    font-family: "IcoFont";
    font-weight: 900;
    content: "\eac9";
    position: absolute;
    left: 10px;
    margin-top:5px;
    font-size:8pt;
}
.menu-ico-arrdwn::after{
    font-family: "IcoFont";
    font-weight: 900;
    content: "\eac8" !important;
    position: absolute;
    left: 10px;
    margin-top:5px;
    font-size:8pt;
}
.Menu ul li i{
    font-size: 14px;
    position: relative;
    top: 1px;
    color: #fff;
    padding-left: 8px;
}
.Menu ul li > ul {
    background:#ff7b40;
    display:none;
}
.Menu ul li > ul li a{
    padding-right:15px;
    font-size:9pt;
    line-height:3.5;
}
.Menu ul li > ul li a::after{
    display:none;
}
.Menu ul li > ul li a::before{
    font-weight: 900;
    margin-left:10px;
    content: "-";
    font-size:8pt;
}
.active-current-menu{
    display:block !important;
}
.iactive{
    background:#da4400;
}
.gtrow-wtitle{
    background:#FFF;
    padding:15px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:22px;
    font-weight: 100;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 34px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
}
.select2-container--default .select2-selection--single{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.gtrow-title{
    position: absolute;
    z-index: 1;
    background: #fff;
    top: 0;
    left: 0;
    height:50px;
    right: 0;
    border-bottom: 1px solid #f5f5f5;
}
.widgetItem{
    border-radius:3px;
    height:100px;
    position:relative;
}
.widgetItemOrange{
    background: #fc4a1a;
    background: -webkit-linear-gradient(45deg, #fc4a1a, #f7b733)!important;
    background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;
}
.widgetItemBlue{
    background: #6a11cb;
    background: -webkit-linear-gradient(45deg, #6a11cb, #2575fc)!important;
    background: linear-gradient(45deg, #6a11cb , #2575fc)!important;
}
.widgetItemGreen{
    background: #00b09b;
    background: -webkit-linear-gradient(45deg, #00b09b, #96c93d)!important;
    background: linear-gradient(45deg, #00b09b, #96c93d)!important;
}
.widgetItemPink{
    background: #ee0979;
    background: -webkit-linear-gradient(45deg, #ee0979, #ff6a00)!important;
    background: linear-gradient(45deg, #ee0979, #ff6a00)!important;
}
.widgetItem i{
    position: absolute;
    left: 0;
    line-height:1.5;
    color: white;
    top: 0;
    bottom: 0;
    padding: 15px;
    font-size: 50px;
}
.widgetItem h4{
    line-height: 2.5;
    font-size: 12pt;
    font-weight: 400;
    color: #fff;
}
.widgetItem  a span{
    margin-bottom:20px;
    display:block;
    color: #fff;
}
.widgetlist{
    padding:7px;
}
.gtbox{
    padding:7px;
}
.gtrow-title h3{
    font-size: 11pt;
    position: relative;
    top: 17px;
    margin: 0;
    display:inline-block;
    right: 15px;
}
.gtrow-title h3 i{
    color:#9c9c9c;
	margin-left:5px;
}
.red{
    color:red;
}
#SideNav{
    position: fixed;
    width: 200px;
    top: 56px;
    transition: 0.4s;
    background: #ff5000;
    right: 0;
    z-index:10;
    bottom: 0;
}
#Content{
    transition: 0.4s;
    position: absolute;
    top:56px;
    left:0;
    right:0;
    padding-left: 0;
    padding-bottom:10px;
    padding-right: 200px;
}
.td-btn{
    white-space:nowrap;
}
.TopContent{
    box-shadow:-11px -7px 9px 4px #b7b7b7;
    background: #da4400;
    transition: 0.4s;
    position: fixed;
    top: 0;
    height: 56px;
    left: 0;
    right:0;
    z-index: 2;
}
.MainContent{
    padding:10px;
}
.gtrow{
    background:#FFF;
    padding:15px;
    padding-top:65px;
}

.MenuButton{
background: url(../images/navdia.svg) no-repeat;
    background-position: 12px 12px;
    background-size: 31px;
    width: 28px;
    height: 28px;
    position: relative;
    display: inline-block;
    right: 0px;
    top: 0;
    bottom: 0;
    padding: 28px;
    cursor: pointer;
}
.TopContent .Usernamewlc{
    display: inline-block;
    position: relative;
    top: 13px;
    font-size: 10pt;
    float: left;
    color: #464646;
    left: 55px;
}
.TopContent .GoBack{
    display: inline-block;
    position: relative;
    top: 13px;
    font-size: 10pt;
    float: left;
    color: #464646;
    left: 55px;
}
#backBTN{
    border-radius: 100px;
    color: white;
    padding: 5px 15px;
    font-size: 13px;
    background: #ff5000;
    border: 0;
}
.TopContent .Usernamewlc .profile-images{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.TopContent .Usernamewlc .profile-username{
    display: inline-block;
    font-weight: 400;
    font-size: 9pt;
    margin-left: 9px;
    cursor: pointer;
    color: #fff;
    letter-spacing: -0.5px;
    border-radius: 100px;
    padding: 4px 9px;
}
.TopContent .Usernamewlc .profile-username::after{
    font-family: "IcoFont";
    font-weight: 900;
    content: "\eac8";
    position: relative;
    top: 2px;
    right: 3px;
}
.TopContent .LogoutBtnWlcPr{
    display: inline-block;
    padding: 0px;
    cursor: pointer;
    font-size: 16px;
    height:56px;
    color: #fff;
    position: absolute;
    left: 0px;
    padding: 20px 20px;
    top: 0px;
    background: #ff5000;
}
.TopContent .LogoutBtnWlcPr a{
    color:#fff;
}
.TopContent .LogoutBtnWlcPr:hover a{
    color:#ffffffe0;
}
#gt-loading{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    background:#fff;
    opacity:0.7;
    right:0;
    z-index:-1;
}
.ContentOpen{
    padding-right:0 !important;
}
.SideNavClose{
    right: -200px !important;
}
.LogoSideNav{
    text-align: center;
    height: 56px;
    padding: 0;
    background:#da4400;
    width:200px;
    display:inline-block;
}
.LogoSideNav img{
}
.topnav-modal-profile{
    position: absolute;
    left: 5px;
    width: 200px;
    background: #ffffff;
    border: 1px solid #cfd8dc;
    padding-top:50px;
    display:none;
    box-shadow: 0px 0px 16px 0px #dadada;
}

.topnav-modal-profile h6{
    background: #eceff1;
    position: absolute;
    color:#b0bec5;
    left: 0;
    right: 0;
    top: 0;
    padding: 10px;
    text-align: center;
    border-bottom:1px solid #cfd8dc;
    margin: 0;
}
.topnav-modal-profile img{
    border-radius:100%;
    width:80px;
	height:80px;
    margin:auto;
    margin-bottom:10px;
}
.topnav-modal-profile ul{
    margin:0;
    padding:0;
    list-style:none;
}
.topnav-modal-profile ul li{
    border-top:1px solid #cfd8dc;
}
.topnav-modal-profile ul li a{
    color:#464646;
    display:block;
    font-size: 10pt;
    padding:10px;
}
.topnav-modal-profile ul li a:hover{
    background:#eceff1;
}
.topnav-modal-profile .user-grade{
    background: #03A9F4;
    color: #ffffff;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    padding: 5px 10px;
    font-size: 9pt;
}
.element-animation{
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: animationFrames ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
    0% {
        opacity:0;
        transform:  translate(0px,-25px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,-25px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,-25px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity:0;
        -o-transform:  translate(0px,-25px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(0px,-25px)  ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
    }
}
.BgGradiant{
    background:url("../images/11868.jpg") no-repeat fixed;
    background-size:cover;
}
.heightVh{
    height:100vh;
}
.FormLoginPassword{
    position:relative;
}
.FormLoginPassword i{
    position: absolute;
    cursor:pointer;
    left: 15px;
    top: 15px;
    font-size: 20px;
    color: #ababab;
}
.LoginBox{
    background:#fff;
    padding:30px;
    box-shadow:0px 0px 30px -5px #46464629;
    margin-top: 50px;
    min-height: 400px;
    border-radius:10px;
}
.FormLogin button{
    width:100%;
    padding:10px;
    color:#FFF;
    height:50px;
    background:#ff9f1a;
    border:0;
}
.FormLogin button:hover{
    background:#ff9800;
    color:white;
}
.FormLogin p{
    color: #737373;
    font-weight: 400;
    line-height: 2;
    margin-bottom:30px;
}
.FormLogin input{
    box-shadow:none;
    font-weight:400;
    height: 50px;
    border:0;
    background:#f5f5f5;
}





.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 50px;
    margin-bottom:10px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f5f5f5;
    color:#969696;
    line-height:2.4;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-size:13.5px;
}
.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #969696 transparent transparent transparent;
    position: absolute;
    top: 23px;
    left: 20px;
}
.select-styled:hover {
    background-color: #f5f5f5;
}
.select-styled:active, .select-styled.active {
    background-color: #f5f5f5;
}
.select-styled:active:after, .select-styled.active:after {
    top: 13px;
    border-color: transparent transparent #969696 transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f5f5f5;
}
.select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    font-size:13px;
    color:#969696;
    border-top: 1px solid #ddd;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.select-options li:hover {
    background: #e8e8e8;
}
.select-options li[rel="hide"] {
    display: none;
}
.td-btn {
    white-space: nowrap;
}







.Menss{
    animation: heightE linear 0.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: heightE linear 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: heightE linear 0.1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: heightE linear 0.1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: heightE linear 0.1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes heightE{
    0% {
        transform:  scaleY(0.00) ;
    }
    100% {
        transform:  scaleY(1.00) ;
    }
}

@-moz-keyframes heightE{
    0% {
        -moz-transform:  scaleY(0.00) ;
    }
    100% {
        -moz-transform:  scaleY(1.00) ;
    }
}

@-webkit-keyframes heightE {
    0% {
        -webkit-transform:  scaleY(0.00) ;
    }
    100% {
        -webkit-transform:  scaleY(1.00) ;
    }
}

@-o-keyframes heightE {
    0% {
        -o-transform:  scaleY(0.00) ;
    }
    100% {
        -o-transform:  scaleY(1.00) ;
    }
}

@-ms-keyframes heightE {
    0% {
        -ms-transform:  scaleY(0.00) ;
    }
    100% {
        -ms-transform:  scaleY(1.00) ;
    }
}






@media (min-width: 1200px){

}
@media only screen and (min-width: 992px){
    .LogoSideNavMob{
        display:none;
    }
}
@media only screen and (max-width: 992px) {
    #SideNav{
        right: -200px;
        top:56px;
    }
    #Content{
        padding-right: 0;
    }
    .SideNavClose{
        right: 0px !important;
    }
    .ContentOpen{
        padding-right: 0 !important;
    }
    .MainContent{
        padding:15px;
    }
    .LogoSideNav{
        display:none;
    }
    .LogoSideNavMob{
        display:block !important;
    }
}
@media only screen and (max-width: 768px) {
    .LoginBox{
        margin-top:15px;
    }
}
#exam-badge {
    font-size: 16px!important;
}
.textDiv_Hours{
    font-family: 'iranyekan' , 'roboto';

}
.textDiv_Minutes{
    font-family: 'iranyekan' , 'roboto';

}
.canvasjs-chart-credit{
    display: none!important;
}